{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype"
  ],
  "plugins": ["flowtype", "flowtype-errors"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "flowtype-errors/show-errors": "error",
    "import/prefer-default-export": 0,
    "class-methods-use-this": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }]
  }
}
